rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Usuarios autenticados
    match /users/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Viajes y chat exclusivo 1-a-1 por flete
    match /trips/{tripId} {
      allow read, write: if request.auth != null;

      match /chat_messages/{messageId} {
        allow read, write: if request.auth != null;
      }
    }

    match /notifications/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    match /admins/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
  }
}
